.barraLateral{
    height: 100%;
    width: 100%;
}

.contenedorTitulo{
    display: flex;
    justify-content: center;
}

.filtros{
    display: flex;
    justify-content: left;
    height: 70px;
    width: 100%;
    flex-direction: column;
}

.filtrosDimensiones{
    display: flex;
    justify-content: space-between;
    height: 150px;
    width: 100%;
    flex-direction: column;
    align-items:flex-start;
    padding-bottom: 20px;
}

.botonFiltrar{
    background-color: #1f365d;
    border: 0px;
    color: white;
    font-size: 30px;
    height: 50px;
    width: auto;
    border-radius: 5px;
    transition: 0.3s ease;
}

.botonFiltrar:hover{
    transform: scale(1.1);
}