/* Estilos para el contenedor principal */
.containerFluid {
    display: flex;
    height: calc(100vh - 80px);
    flex-direction: row;
}

/* Estilos para la barra lateral */
.sidebar {
    background-color: #f8f9fa;
    padding: 20px;
    border-right: 1px solid #ddd;
    width: 400px; /* Ancho deseado de la barra lateral */
    overflow-y: auto; /* Habilita el scroll vertical */
    height: 100%; /* Ocupa el 100% del espacio dentro de la vista flex */
}

.sidebar h5 {
    color: #333;
    font-weight: bold;
}

/* Estilos para los resultados de búsqueda */
.results-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 15px 0;
}

.result-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
}

.result-card h6 {
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
}

.result-card p {
    color: #666;
    font-size: 14px;
}
